<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="HT804 CK USB3.0 Device00" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device01" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device02" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device03" value="衰减控制机箱"></add>
    <add key="HT804 CK USB3.0 Device04" value="相位控制机箱"></add>
    <add key="HT804 CK USB3.0 Device05" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device06" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device07" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device08" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device09" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device10" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device11" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device12" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device13" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device14" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device15" value="机箱15(管理单元)"></add>

    <add key="Cardid1" value="3"></add>
    <add key="Cardid2" value="4"></add>
    
    <add key="PATH_FPGA_01" value="D:\CSharpProjects\CK_Total_Server\CKServer\CKServer\bin\Debug\FPGA文件\ad_rs422_top.bin"></add>
    <add key="PATH_FPGA_02" value="D:\CSharpProjects\CK_Total_Server\CKServer\CKServer\bin\Debug\FPGA文件\ad_rs422_top.bin"></add>
    <add key="PATH_FPGA_03" value="D:\CSharpProjects\CK_Total_Server\CKServer\CKServer\bin\Debug\FPGA文件\ad_rs422_top.bin"></add>
    <add key="PATH_FPGA_04" value="D:\CSharpProjects\CK_Total_Server\CKServer\CKServer\bin\Debug\FPGA文件\ad_rs422_top.bin"></add>

    <add key="DA_Board1_Channel_0" value="衰减器1"></add>
    <add key="DA_Board1_Channel_1" value="衰减器2"></add>
    <add key="DA_Board1_Channel_2" value="衰减器3"></add>
    <add key="DA_Board1_Channel_3" value="衰减器4"></add>
    <add key="DA_Board1_Channel_4" value="衰减器5"></add>
    <add key="DA_Board1_Channel_5" value="衰减器6"></add>
    <add key="DA_Board1_Channel_6" value="衰减器7"></add>
    <add key="DA_Board1_Channel_7" value="衰减器8"></add>
    <add key="DA_Board1_Channel_8" value="衰减器9"></add>
    <add key="DA_Board1_Channel_9" value="衰减器10"></add>
    <add key="DA_Board1_Channel_10" value="衰减器11"></add>
    <add key="DA_Board1_Channel_11" value="衰减器12"></add>
    <add key="DA_Board1_Channel_12" value="衰减器13"></add>
    <add key="DA_Board1_Channel_13" value="衰减器14"></add>
    <add key="DA_Board1_Channel_14" value="衰减器15"></add>
    <add key="DA_Board1_Channel_15" value="衰减器16"></add>

    <add key="DA_Board2_Channel_0" value="衰减器17"></add>
    <add key="DA_Board2_Channel_1" value="衰减器18"></add>
    <add key="DA_Board2_Channel_2" value="衰减器19"></add>
    <add key="DA_Board2_Channel_3" value="衰减器20"></add>
    <add key="DA_Board2_Channel_4" value="衰减器21"></add>
    <add key="DA_Board2_Channel_5" value="衰减器22"></add>
    <add key="DA_Board2_Channel_6" value="衰减器23"></add>
    <add key="DA_Board2_Channel_7" value="衰减器24"></add>
    <add key="DA_Board2_Channel_8" value="衰减器25"></add>
    <add key="DA_Board2_Channel_9" value="衰减器26"></add>
    <add key="DA_Board2_Channel_10" value="衰减器27"></add>
    <add key="DA_Board2_Channel_11" value="衰减器28"></add>
    <add key="DA_Board2_Channel_12" value="衰减器29"></add>
    <add key="DA_Board2_Channel_13" value="衰减器30"></add>
    <add key="DA_Board2_Channel_14" value="衰减器31"></add>
    <add key="DA_Board2_Channel_15" value="衰减器32"></add>

    <add key="DA_Board3_Channel_0" value="相位控制1"></add>
    <add key="DA_Board3_Channel_1" value="相位控制2"></add>
    <add key="DA_Board3_Channel_2" value="相位控制3"></add>
    <add key="DA_Board3_Channel_3" value="相位控制4"></add>
    <add key="DA_Board3_Channel_4" value="相位控制5"></add>
    <add key="DA_Board3_Channel_5" value="相位控制6"></add>
    <add key="DA_Board3_Channel_6" value="相位控制7"></add>
    <add key="DA_Board3_Channel_7" value="相位控制8"></add>
    <add key="DA_Board3_Channel_8" value="相位控制9"></add>
    <add key="DA_Board3_Channel_9" value="相位控制10"></add>
    <add key="DA_Board3_Channel_10" value="相位控制11"></add>
    <add key="DA_Board3_Channel_11" value="相位控制12"></add>
    <add key="DA_Board3_Channel_12" value="相位控制13"></add>
    <add key="DA_Board3_Channel_13" value="相位控制14"></add>
    <add key="DA_Board3_Channel_14" value="相位控制15"></add>
    <add key="DA_Board3_Channel_15" value="相位控制16"></add>

    <add key="DA_Board4_Channel_0" value="相位控制17"></add>
    <add key="DA_Board4_Channel_1" value="相位控制18"></add>
    <add key="DA_Board4_Channel_2" value="相位控制19"></add>
    <add key="DA_Board4_Channel_3" value="相位控制20"></add>
    <add key="DA_Board4_Channel_4" value="相位控制21"></add>
    <add key="DA_Board4_Channel_5" value="相位控制22"></add>
    <add key="DA_Board4_Channel_6" value="相位控制23"></add>
    <add key="DA_Board4_Channel_7" value="相位控制24"></add>
    <add key="DA_Board4_Channel_8" value="相位控制25"></add>
    <add key="DA_Board4_Channel_9" value="相位控制26"></add>
    <add key="DA_Board4_Channel_10" value="相位控制27"></add>
    <add key="DA_Board4_Channel_11" value="相位控制28"></add>
    <add key="DA_Board4_Channel_12" value="相位控制29"></add>
    <add key="DA_Board4_Channel_13" value="相位控制30"></add>
    <add key="DA_Board4_Channel_14" value="相位控制31"></add>
    <add key="DA_Board4_Channel_15" value="相位控制32"></add>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
