<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="HT804 CK USB3.0 Device00" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device01" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device02" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device03" value="衰减控制机箱"></add>
    <add key="HT804 CK USB3.0 Device04" value="移相器机箱"></add>
    <add key="HT804 CK USB3.0 Device05" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device06" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device07" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device08" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device09" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device10" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device11" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device12" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device13" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device14" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device15" value="机箱15(管理单元)"></add>

    <add key="Cardid1" value="3"></add>
    <add key="Cardid2" value="4"></add>
    
    <add key="PATH_FPGA_01" value="D:\CSharpProjects\CK_Total_Server\CKServer\CKServer\bin\Debug\FPGA文件\ad_rs422_top.bin"></add>
    <add key="PATH_FPGA_02" value="D:\CSharpProjects\CK_Total_Server\CKServer\CKServer\bin\Debug\FPGA文件\ad_rs422_top.bin"></add>
    <add key="PATH_FPGA_03" value="D:\CSharpProjects\CK_Total_Server\CKServer\CKServer\bin\Debug\FPGA文件\ad_rs422_top.bin"></add>
    <add key="PATH_FPGA_04" value="D:\CSharpProjects\CK_Total_Server\CKServer\CKServer\bin\Debug\FPGA文件\ad_rs422_top.bin"></add>

    <add key="DA_Board1_Channel_0" value="衰减器1"></add>
    <add key="DA_Board1_Channel_1" value="衰减器2"></add>
    <add key="DA_Board1_Channel_2" value="衰减器3"></add>
    <add key="DA_Board1_Channel_3" value="衰减器4"></add>
    <add key="DA_Board1_Channel_4" value="衰减器5"></add>
    <add key="DA_Board1_Channel_5" value="衰减器6"></add>
    <add key="DA_Board1_Channel_6" value="衰减器7"></add>
    <add key="DA_Board1_Channel_7" value="衰减器8"></add>
    <add key="DA_Board1_Channel_8" value="衰减器9"></add>
    <add key="DA_Board1_Channel_9" value="衰减器10"></add>
    <add key="DA_Board1_Channel_10" value="衰减器11"></add>
    <add key="DA_Board1_Channel_11" value="衰减器12"></add>
    <add key="DA_Board1_Channel_12" value="衰减器13"></add>
    <add key="DA_Board1_Channel_13" value="衰减器14"></add>
    <add key="DA_Board1_Channel_14" value="衰减器15"></add>
    <add key="DA_Board1_Channel_15" value="衰减器16"></add>

    <add key="DA_Board2_Channel_0" value="衰减器17"></add>
    <add key="DA_Board2_Channel_1" value="衰减器18"></add>
    <add key="DA_Board2_Channel_2" value="衰减器19"></add>
    <add key="DA_Board2_Channel_3" value="衰减器20"></add>
    <add key="DA_Board2_Channel_4" value="衰减器21"></add>
    <add key="DA_Board2_Channel_5" value="衰减器22"></add>
    <add key="DA_Board2_Channel_6" value="衰减器23"></add>
    <add key="DA_Board2_Channel_7" value="衰减器24"></add>
    <add key="DA_Board2_Channel_8" value="衰减器25"></add>
    <add key="DA_Board2_Channel_9" value="衰减器26"></add>
    <add key="DA_Board2_Channel_10" value="衰减器27"></add>
    <add key="DA_Board2_Channel_11" value="衰减器28"></add>
    <add key="DA_Board2_Channel_12" value="衰减器29"></add>
    <add key="DA_Board2_Channel_13" value="衰减器30"></add>
    <add key="DA_Board2_Channel_14" value="衰减器31"></add>
    <add key="DA_Board2_Channel_15" value="衰减器32"></add>

    <add key="DA_Board3_Channel_0" value="移相器1"></add>
    <add key="DA_Board3_Channel_1" value="移相器2"></add>
    <add key="DA_Board3_Channel_2" value="移相器3"></add>
    <add key="DA_Board3_Channel_3" value="移相器4"></add>
    <add key="DA_Board3_Channel_4" value="移相器5"></add>
    <add key="DA_Board3_Channel_5" value="移相器6"></add>
    <add key="DA_Board3_Channel_6" value="移相器7"></add>
    <add key="DA_Board3_Channel_7" value="移相器8"></add>
    <add key="DA_Board3_Channel_8" value="移相器9"></add>
    <add key="DA_Board3_Channel_9" value="移相器10"></add>
    <add key="DA_Board3_Channel_10" value="移相器11"></add>
    <add key="DA_Board3_Channel_11" value="移相器12"></add>
    <add key="DA_Board3_Channel_12" value="移相器13"></add>
    <add key="DA_Board3_Channel_13" value="移相器14"></add>
    <add key="DA_Board3_Channel_14" value="移相器15"></add>
    <add key="DA_Board3_Channel_15" value="移相器16"></add>

    <add key="DA_Board4_Channel_0" value="移相器17"></add>
    <add key="DA_Board4_Channel_1" value="移相器18"></add>
    <add key="DA_Board4_Channel_2" value="移相器19"></add>
    <add key="DA_Board4_Channel_3" value="移相器20"></add>
    <add key="DA_Board4_Channel_4" value="移相器21"></add>
    <add key="DA_Board4_Channel_5" value="移相器22"></add>
    <add key="DA_Board4_Channel_6" value="移相器23"></add>
    <add key="DA_Board4_Channel_7" value="移相器24"></add>
    <add key="DA_Board4_Channel_8" value="移相器25"></add>
    <add key="DA_Board4_Channel_9" value="移相器26"></add>
    <add key="DA_Board4_Channel_10" value="移相器27"></add>
    <add key="DA_Board4_Channel_11" value="移相器28"></add>
    <add key="DA_Board4_Channel_12" value="移相器29"></add>
    <add key="DA_Board4_Channel_13" value="移相器30"></add>
    <add key="DA_Board4_Channel_14" value="移相器31"></add>
    <add key="DA_Board4_Channel_15" value="移相器32"></add>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
