*.dat
*.txt
*.v16.2.*
CKServer_ForHY/.vs/CKServer/v15/.suo
CKServer_ForHY/.vs/CKServer/v15/Server/sqlite3/storage.ide
CKServer_ForHY/CKServer/obj/Debug/CKServer.csproj.CoreCompileInputs.cache
*/.vs/*
CKServer_ForHY_星间链路/CKServer/.vs/*
CKServer_ForHY_星间链路/CKServer/obj/*
CKServer_ForHY_星间链路/CKServer/bin/*
CKServer_GZComputer_徐捷/CKServer/.vs/*
CKServer_GZComputer_徐捷/CKServer/obj/*
CKServer_GZComputer_徐捷/CKServer/bin/*
CKServer_ForYP_有效载荷AD/CKServer/.vs/*
CKServer_ForYP_有效载荷AD/CKServer/CKServer/obj/*
CKServer_ForYP_有效载荷AD/CKServer/CKServer/bin/*
CKServer_ForYP_有效载荷AD/CKServer/CKServer/Release/*
*.xlsx
CKServer_ForYP/CKServer/bin/*
CKServer_ForYP/CKServer/bin/Release/*
CKServer_ForYP/CKServer/bin/Debug/*
CKServer_ForYP/CKServer/.vs/*
CKServer_ForYP/CKServer/obj/*
CKServer_ForYP/CKServer/obj/Release/CKServer.MainForm.resources
CKServer_ForYP/CKServer/obj/Release/CKServer.MainForm.zh-CN.resources
*.pdb
CKServer_ForYP/CKServer/obj/Debug/CKServer.application
CKServer_ForYP/CKServer/obj/Debug/CKServer.csproj.CoreCompileInputs.cache
