<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="HT804 CK USB3.0 Device00" value="机箱1（AD/OC）"></add>
    <add key="HT804 CK USB3.0 Device01" value="机箱2（AD_Bit）"></add>
    <add key="HT804 CK USB3.0 Device02" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device03" value="DA输出机箱"></add>
    <add key="HT804 CK USB3.0 Device04" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device05" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device06" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device07" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device08" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device09" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device10" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device11" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device12" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device13" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device14" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device15" value="机箱15(管理单元)"></add>

    <add key="CardID" value="3"></add>
    
    <add key="PATH_FPGA_01" value="D:\CSharpProjects\CK_Total_Server\CKServer\CKServer\bin\Debug\FPGA文件\ad_rs422_top.bin"></add>
    <add key="PATH_FPGA_02" value="D:\CSharpProjects\CK_Total_Server\CKServer\CKServer\bin\Debug\FPGA文件\ad_rs422_top.bin"></add>
    <add key="PATH_FPGA_03" value="D:\CSharpProjects\CK_Total_Server\CKServer\CKServer\bin\Debug\FPGA文件\ad_rs422_top.bin"></add>
    <add key="PATH_FPGA_04" value="D:\CSharpProjects\CK_Total_Server\CKServer\CKServer\bin\Debug\FPGA文件\ad_rs422_top.bin"></add>

    <add key="AD_Channel_0" value="通道1"></add>
    <add key="AD_Channel_1" value="通道2"></add>
    <add key="AD_Channel_2" value="通道3"></add>
    <add key="AD_Channel_3" value="通道4"></add>
    <add key="AD_Channel_4" value="通道5"></add>
    <add key="AD_Channel_5" value="通道6"></add>
    <add key="AD_Channel_6" value="通道7"></add>
    <add key="AD_Channel_7" value="通道8"></add>
    <add key="AD_Channel_8" value="通道9"></add>
    <add key="AD_Channel_9" value="通道10"></add>
    <add key="AD_Channel_10" value="通道11"></add>
    <add key="AD_Channel_11" value="通道12"></add>
    <add key="AD_Channel_12" value="通道13"></add>
    <add key="AD_Channel_13" value="通道14"></add>
    <add key="AD_Channel_14" value="通道15"></add>
    <add key="AD_Channel_15" value="通道16"></add>

    <add key="OC_Channel_0" value="通道1"></add>
    <add key="OC_Channel_1" value="通道2"></add>
    <add key="OC_Channel_2" value="通道3"></add>
    <add key="OC_Channel_3" value="通道4"></add>
    <add key="OC_Channel_4" value="通道5"></add>
    <add key="OC_Channel_5" value="通道6"></add>
    <add key="OC_Channel_6" value="通道7"></add>
    <add key="OC_Channel_7" value="通道8"></add>
    <add key="OC_Channel_8" value="通道9"></add>
    <add key="OC_Channel_9" value="通道10"></add>
    <add key="OC_Channel_10" value="通道11"></add>
    <add key="OC_Channel_11" value="通道12"></add>
    <add key="OC_Channel_12" value="通道13"></add>
    <add key="OC_Channel_13" value="通道14"></add>
    <add key="OC_Channel_14" value="通道15"></add>
    <add key="OC_Channel_15" value="通道16"></add>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
