<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="HT804 CK USB3.0 Device00" value="星间链路测试机箱"></add>
    <add key="HT804 CK USB3.0 Device01" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device02" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device03" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device04" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device05" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device06" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device07" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device08" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device09" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device10" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device11" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device12" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device13" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device14" value="机箱Reserved"></add>
    <add key="HT804 CK USB3.0 Device15" value="机箱15(管理单元)"></add>

    <add key="CardID" value="3"></add>
    
    <add key="PATH_FPGA_01" value="D:\CSharpProjects\CK_Total_Server\CKServer\CKServer\bin\Debug\FPGA文件\ad_rs422_top.bin"></add>
    <add key="PATH_FPGA_02" value="D:\CSharpProjects\CK_Total_Server\CKServer\CKServer\bin\Debug\FPGA文件\ad_rs422_top.bin"></add>
    <add key="PATH_FPGA_03" value="D:\CSharpProjects\CK_Total_Server\CKServer\CKServer\bin\Debug\FPGA文件\ad_rs422_top.bin"></add>
    <add key="PATH_FPGA_04" value="D:\CSharpProjects\CK_Total_Server\CKServer\CKServer\bin\Debug\FPGA文件\ad_rs422_top.bin"></add>

    <add key="PATH_DAT_01" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表1.dat"></add>
    <add key="PATH_DAT_02" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表2.dat"></add>
    <add key="PATH_DAT_03" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表3.dat"></add>
    <add key="PATH_DAT_04" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表4.dat"></add>
    <add key="PATH_DAT_05" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表1.dat"></add>
    <add key="PATH_DAT_06" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表2.dat"></add>
    <add key="PATH_DAT_07" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表3.dat"></add>
    <add key="PATH_DAT_08" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表4.dat"></add>
    <add key="PATH_DAT_09" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表1.dat"></add>
    <add key="PATH_DAT_10" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表2.dat"></add>
    <add key="PATH_DAT_11" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表3.dat"></add>
    <add key="PATH_DAT_12" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表4.dat"></add>
    <add key="PATH_DAT_13" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表1.dat"></add>
    <add key="PATH_DAT_14" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表2.dat"></add>
    <add key="PATH_DAT_15" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表3.dat"></add>
    <add key="PATH_DAT_16" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表4.dat"></add>
    <add key="checkBox_LVDS_select_01" value="False"></add>
    <add key="checkBox_LVDS_select_02" value="False"></add>
    <add key="checkBox_LVDS_select_03" value="False"></add>
    <add key="checkBox_LVDS_select_04" value="False"></add>
    <add key="checkBox_LVDS_select_05" value="False"></add>
    <add key="checkBox_LVDS_select_06" value="False"></add>
    <add key="checkBox_LVDS_select_07" value="False"></add>
    <add key="checkBox_LVDS_select_08" value="False"></add>
    <add key="checkBox_LVDS_select_09" value="False"></add>
    <add key="checkBox_LVDS_select_10" value="False"></add>
    <add key="checkBox_LVDS_select_11" value="False"></add>
    <add key="checkBox_LVDS_select_12" value="False"></add>
    <add key="checkBox_LVDS_select_13" value="False"></add>
    <add key="checkBox_LVDS_select_14" value="False"></add>
    <add key="checkBox_LVDS_select_15" value="False"></add>
    <add key="checkBox_LVDS_select_16" value="False"></add>
    <add key="PATH_422_DAT_01" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表4.dat"></add>
    <add key="PATH_422_DAT_02" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表4.dat"></add>
    <add key="PATH_422_DAT_03" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表4.dat"></add>
    <add key="PATH_422_DAT_04" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表4.dat"></add>
    <add key="PATH_422_DAT_05" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表4.dat"></add>
    <add key="PATH_422_DAT_06" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表4.dat"></add>
    <add key="PATH_422_DAT_07" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表4.dat"></add>
    <add key="PATH_422_DAT_08" value="D:\CSharpProjects\CKServer_USB\CKServer_ForHY\CKServer\bin\Debug\码本文件\码表4.dat"></add>
    <add key="checkBox_422_select_01" value="False"></add>
    <add key="checkBox_422_select_02" value="False"></add>
    <add key="checkBox_422_select_03" value="False"></add>
    <add key="checkBox_422_select_04" value="False"></add>
    <add key="checkBox_422_select_05" value="False"></add>
    <add key="checkBox_422_select_06" value="False"></add>
    <add key="checkBox_422_select_07" value="False"></add>
    <add key="checkBox_422_select_08" value="False"></add>
    
    <add key="LVDS_Send_SetFreq" value="150"></add>
    <add key="LVDS_Send_RealFreq" value="150"></add> 
    
    <add key="422_Send_SetFreq" value="10"></add>
    <add key="422_Send_RealFreq" value="10"></add>  
    
    <add key="LVDS_Set_AFlag" value="128"></add>
    <add key="LVDS_Set_BFlag" value="128"></add> 
    
    <add key="422_Set_AFlag" value="128"></add>
    <add key="422_Set_BFlag" value="128"></add> 
  
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
